:root {
  --bs-body-bg: #fff;
  --bs-blue: #0d6efd;
  --bs-hover-color: #0a58ca;
  --bs-primary: #0d6efd;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #272829;
  background-color: var(--bs-white);
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    position: relative;
    max-width: 600px;
    overflow-x: hidden;
  }
  .App {
    display: flex;
    justify-content: center;
  }
}
